* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    background-color: white;
    color: black;
    -webkit-font-smoothing:antialiased;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

img {
    max-width: 100%;
    height: auto;
}

.left  { float: left;  }
.right { float: right; }

.al-left    { text-align: left;   }
.al-right   { text-align: right;  }
.al-center  { text-align: center; }

.animate {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.half   { width: 50%;    }
.third  { width: 33.33%; }
.fourth { width: 25%;    }
.fifth  { width: 20%;    }

.hide { display: none;  }
.show { display: block; }

.container {
    max-width: 990px; /* Desired width */
    margin: 0 auto;
}